@import url('https://fonts.googleapis.com/css?family=Montserrat|Questrial|Quicksand:400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Questrial', sans-serif;*/


body {
	font-family: 'Montserrat',sans-serif;
	color: #fff;
	padding-top: 50px;
	position: relative;
}

a:link,a:visited ,a:active{
	color: white;
	text-decoration: none;
}

.pattern-top {
	padding-bottom: 9px;
	border-bottom: 2px solid #fff;
	max-width: 450px;
}
.pattern-bottom {
	border-bottom: 2px solid #F62A00;
	padding-bottom: 5px;
} 

section > .container {
	padding: 40px 0;
}

.navbar {
	margin: 0;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
}

.carousel-control {
	width: 10%;
}
.carousel-indicators {
	right: 1%;
	margin: 0;
	width: 50px;
	left: auto;
}
.carousel-indicators li {
	border-radius:  0;
}



/* #################	SECTION ABOUT ####################*/

.about {
	background-color: #00293c;
}


/* #################	SECTION SKILLS ####################*/

.skills {
	background-color: #d9d9d9;
	color: #000;
}
[class*='devicon'] {
	font-size: 48px;
}
[class*='fa-star'] {
	font-size: 18px;
}









/* #################	SECTION PROJECTS ####################*/

.projects {
	background: #323637;
}

.projects p  {
	font-size: 12px;
}
.project-card {
	margin: 20px auto;
	border: 3px solid #F62A00;
	max-width: 300px;
	max-height: 250px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	min-height: 150px;
}
.project-caption {
	position: absolute;
	bottom: -100%;
	width: 100%;
	background-color: rgba(246, 42, 0,0.8);
	text-align: center;
	letter-spacing: 3px;
	height: 100%;
	z-index: 100;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3 linear;
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20% 0;
}
.project-caption h5 {
	font-size: 120%;
}
.project-caption i.fa {
	margin-top: 10px;
	font-size: 24px;
}

.project-card:hover .project-caption {
	bottom: 0%;
}


/* #################	SECTION CONTACT ####################*/

.contact-image {
	background: #F4F4F4 url("../images/contact_lastversion.jpg") center/cover no-repeat;
	height: 100vh;
	position: relative;
	overflow: hidden;
	
}
.btn-cv {
	background: #F62A00;
	color: #fff;
	font-weight: 500;
	margin: 25px auto 30px;
	display: block;
	-webkit-transition: all .7s;
	transition: all .7s;
}
.btn-cv:hover,
.btn-cv:focus {
/*
	-webkit-box-shadow: 2px 2px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: 2px 2px 0px 0px rgba(255,255,255,1);
	box-shadow: 2px 2px  0px 0px rgba(255,255,255,1);
*/
	background: #fff;
	color: #F62A00;
} 
.slogan {
	background-color: rgba(0,0,0,0.6);
/*	padding-top: 25%;*/
	padding: 4% 2%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.slogan blockquote {
	border-right: 5px solid #eee;
	font-size: 14px;
	cursor: pointer;
	max-width: 300px;
	margin: 0 auto;
}
.slogan h4 {
	font-size: 15px;
	margin: 0;
}





/* #################	SECTION FOOTER ####################*/

footer {
	background-color: #00293c;
}
.social-media {
	padding: 15px 0;
}
.social-media i.fa {
	margin: 0 15px;
	font-size: 16px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	position: relative;
	z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.social-media i.fa::after {
	position: absolute;
	display: inline-block;
	content: '';
	height: 30px;
	width: 30px;
	left: 0;
	border: 2px solid;	
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.social-media i.fa:hover,
.social-media i.fa:focus
{
	transform: scale(1.2);	

}

.social-media i.fa:hover::after,
.social-media i.fa:focus::after 
{
	border-color: #F62A00;
}
